<div class="wrapper">
    <img src="http://localhost:8080/media/images/pizza4you_logo.png" 
        alt="Logo">
    <div class="data">
        <div class="details">
            <span>
                Daca doresti un raspuns rapid legat de o comanda in derulare sau recent livrata, nu ezita sa ne contactezi la numerele de telefon mentionate mai jos.
            </span>
            <span>
                Ai o sugestie, vrei sa ne semnalezi o situatie specifica in legatura cu produsele sau serviciile noastre sau vrei sa ne trimiti o propunere, ne poti trimite un mail la adresa mentionata mai jos.
            </span>
            <span class="phone">
                Telefon: <i>0722 222 222</i>
            </span>
            <span class="mail">
                Mail: <i>pizza4you@gmail.com</i>
            </span>
            <span class="address">
                Adresa: <i>Strada Valea Oltului 195-197, Bucuresti 061971</i>
            </span>
            <span>
                Program: 
                <p><i>Monday - Friday: 09:00 - 23:00</i></p>
                <p><i>Saturday - Sunday: 10:00 - 24:00</i></p>
            </span>
        </div>
    </div>
</div>
