
<app-not-found [visible]="!cart || cart.items.length <= 0" 
notFoundMessage="Nu ai nimic in cos!"
resetLinkText="Pagina principala">

</app-not-found>

<div *ngIf="cart && cart.items.length > 0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img src = "http://localhost:8080/media/images/{{cartItem.food.imageUrl}}" [alt]="cartItem.food.name">
            </div>
            <div>
                <a routerLink = "/food/{{cartItem.food.name}}">
                    {{cartItem.food.name}}
                </a>
            </div>
            <div>
                <select #quantitySelect (change) = 
                    "changeQuantity(cartItem, quantitySelect.value)">
                    <option value="" selected disabled hidden>{{cartItem.quantity}}</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>

            <div>
                {{cartItem.price}} lei
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Sterge
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="food-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice}} lei</div>
            <button class="order-button" (click)="order()">Comanda</button>
        </div>
    </div>
</div>

<div *ngIf="cart && cart.items.length > 0" class="wrapper">
    <div class="title">
      Adresa pentru livrare
    </div>
    <div class="form">
       <div class="inputfield">
          <label>Nume*</label>
          <input type="text" class="input" [(ngModel)]="this.ordersDTO.userName">
       </div>  
        <div class="inputfield">
          <label>Mail*</label>
          <input type="text" class="input" [(ngModel)]="this.ordersDTO.mail">
       </div>  
       <div class="inputfield">
          <label>Numar Telefon*</label>
          <input class="input" type="number" [(ngModel)]="this.ordersDTO.phoneNumber"
          onKeyPress="if(this.value.length==10) return false;" >
       </div>  
      <!-- <div class="inputfield">
          <label>Tara</label>
          <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.country">
       </div> 
        <div class="inputfield">
            <label>Oras</label>
            <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.city">
       </div>  -->
       <div class="inputfield">
            <label>Strada*</label>
            <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.street">
        </div> 
        <div class="inputfield">
            <label>Numarul Strazii*</label>
            <input class="input" type="number" [(ngModel)]="this.ordersDTO.addressDTO.streetNumber"
            onKeyPress="if(this.value.length==5) return false;">
        </div> 
        <div class="inputfield">
            <label>Bloc</label>
            <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.building">
        </div> 
        <div class="inputfield">
            <label>Apartament</label>
            <input class="input" type="number" [(ngModel)]="this.ordersDTO.addressDTO.room"
            onKeyPress="if(this.value.length==5) return false;">
        </div> 
    </div>
</div>	