
<app-not-found [visible]="!cart || cart.items.length <= 0" 
notFoundMessage="Cart Page is Empty!"
resetLinkText="Go to Homepage">

</app-not-found>

<div *ngIf="cart && cart.items.length > 0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img src = "http://localhost:8080/media/images/{{cartItem.food.imageUrl}}" [alt]="cartItem.food.name">
            </div>
            <div>
                <a routerLink = "/food/{{cartItem.food.name}}">
                    {{cartItem.food.name}}
                </a>
            </div>
            <div>
                <select #quantitySelect (change) = 
                    "changeQuantity(cartItem, quantitySelect.value)">
                    <option value="" selected disabled hidden>{{cartItem.quantity}}</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>

            <div>
                {{cartItem.price | currency}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="food-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice | currency}}</div>
            <button class="order-button" (click)="order()">Order</button>
        </div>
    </div>
</div>

<div *ngIf="cart && cart.items.length > 0" class="wrapper">
    <div class="title">
      Address
    </div>
    <div class="form">
       <div class="inputfield">
          <label>Name</label>
          <input type="text" class="input" [(ngModel)]="this.ordersDTO.userName">
       </div>  
        <div class="inputfield">
          <label>Mail</label>
          <input type="text" class="input" [(ngModel)]="this.ordersDTO.mail">
       </div>  
       <div class="inputfield">
          <label>Phone Number</label>
          <input class="input" type="number" [(ngModel)]="this.ordersDTO.phoneNumber"
          onKeyPress="if(this.value.length==10) return false;" >
       </div>  
      <div class="inputfield">
          <label>Country</label>
          <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.country">
       </div> 
        <div class="inputfield">
            <label>City</label>
            <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.city">
       </div> 
       <div class="inputfield">
            <label>Street</label>
            <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.street">
        </div> 
        <div class="inputfield">
            <label>Street Number</label>
            <input class="input" type="number" [(ngModel)]="this.ordersDTO.addressDTO.streetNumber"
            onKeyPress="if(this.value.length==5) return false;">
        </div> 
        <div class="inputfield">
            <label>Building</label>
            <input type="text" class="input" [(ngModel)]="this.ordersDTO.addressDTO.building">
        </div> 
        <div class="inputfield">
            <label>Room</label>
            <input class="input" type="number" [(ngModel)]="this.ordersDTO.addressDTO.room"
            onKeyPress="if(this.value.length==5) return false;">
        </div> 
    </div>
</div>	