<div *ngIf = "!isLoaded" class="container">
    <img src="http://localhost:8080/media/images/{{food.imageUrl}}" [alt]="food.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favorite {{food.favorite ? '' : 'not'}}">
                ❤
            </span>
        </div>
        <div class="origins">
            <span *ngFor="let ingredient of food.ingredients">
                {{ingredient}}
            </span>
        </div>
        <div class="tags">
            <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
        </div>
        <div class="cook-time">
            <span>
                Timp de preparare in jur de <strong>{{food.cookTime}}</strong> de minute
            </span>
        </div>
        <div class="price">
            <span>{{food.price}} lei</span>
        </div>
        <button (click)="addToCart()">Adauga in Cos</button>
    </div>
</div>